packages: [
  "atom-beautify"
  "atom-html-preview"
  "atom-ide-ui"
  "atom-react-autocomplete"
  "atom-runner"
  "atom-typescript"
  "autoclose-html"
  "busy-signal"
  "file-icons"
  "git-plus"
  "goto-definition"
  "intentions"
  "language-babel"
  "language-brightscript"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "minimap"
  "npm-plus"
  "open-in-browser"
  "package-sync"
  "pigments"
  "pretty-json"
  "refactor"
  "script"
  "swackets"
]
